.main-container{
  background-color: #0C567E;
  padding-top: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
  /* padding-bottom: 20px; */
  border-top: solid #0C567E 15px;
  background-image: linear-gradient(0deg, #031226 10%, #083359 75%, #0C567E 94%);
  
}


h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
  color: whitesmoke;
}

ul {
  color: #8cd8ec;
  list-style: none;
  text-align: center;
}

.info-title {
  font-size: 40px;
  margin: 50px 0 30px 0;
  background: linear-gradient(to bottom, #0C567E 20%, #031226b7 42%, #0C567E 90%);
  background-color: #0C567E;
}



@media only screen and (max-width: 960px) {
  
  .container {
    height: 350px;
    flex-direction: column;
    align-items: center;
  }

  ul:last-of-type {
    margin-bottom: 5px;
  }

  .hide {
    display: none;
  }

}