.container {
  height: 150px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  padding-top: 10px;
  border-top: solid #000 15px;
  background-image: linear-gradient(180deg, #000000 0%, #031226 22%, #083359 48%, #0a4b73 74%, #0c567e 90%);
}

h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
  color: whitesmoke;
  /* color: #8cd8ec */
}

ul {
  color: #8cd8ec;
  list-style: none;
  text-align: center;
}




@media only screen and (max-width: 960px) {
  
  .container {
    height: 350px;
    flex-direction: column;
    align-items: center;
  }

  ul:last-of-type {
    margin-bottom: 5px;
  }

  .hide {
    display: none;
  }

}