/* oscuro: #202021; */
/* claro: #949495; */
/* red: 410b0b */

.cover-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;

  /* para cuando carga el video */
  /* background-color: #202021; */
  /* opacity: 0.99; */
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.job {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;

  animation: typing 2s steps(21), 
    blink .6s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent}
}

.cover-container > h1 {
  color: white;
  font-size: 100px;
}

.cover-container > p {
  margin-top: 8px;
  color: #949495;
  font-size: 32px;
}

@media screen and (max-width: 960px) {
  .cover-container > h1 {
    font-size: 70px;
    text-align: center;
  }

  .cover-container > p {
    text-align: center;
    font-size: 22px;
    width: 85%;
  }
}
