.about-container {
  display: flex;
  align-items: center;
  color: #949495;
  padding: 150px 0 75px 0;
  background-color: #083359;
  /* background-image: linear-gradient(180deg, #000000 0%, #031226 22%, #083359 48%, #0a4b73 74%, #0c567e 90%); */
  background-image: linear-gradient(180deg, #000000 0%, #083359 30%, #0a4b73 74%, #0c567e 90%);
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0 100px 0 100px;
}

.about-desc > h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.about-desc > p {
  line-height: 1.5;
  color: #22aed4;
}

.about-link {
  color: #22aed4;
  cursor: pointer;
}

.about-link:hover {
  color: #8cd8ec;
}

.about-img {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}

.about-img p {
  color: #8cd8ec;

}

.location {
  margin-bottom: 20px;
}

.img-circular {
  width:250px;
  height:250px;
  border-radius:160px;
  border:5px solid #22aed4;
  margin-bottom: 20px;
}

.button-about {
  background-color: #202021;
  color: #22aed4;
  border: 2px solid #22aed4;
  border-radius: 8px;

  width: 100%;
  padding: 9px 18px;
  margin: 5px 0;
  transition: all 0.3s ease-out;
}

.button-about:hover {
  background-color: #083359;
  color: #949495;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 200px 0;

    height: auto;
  }

  .about-desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }
  
  .about-desc > h3 {
    font-size: 20px;
    text-align: center;
  }
  
  .about-img {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 130px;
  }
  
  .img-circular {
    width:300px;
    height:300px;
    border-radius:160px;
    border:5px solid #949495;
    margin: 0 auto 25px auto;
  }

}
