
.carousel-container {
  background-color: #0c567e;
  padding: 30px 0 80px 0;
  /* un gradiente aca... quedaria bien, quizas redondo... */
}

.carousel-title {
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
  padding: 0 100px 25px 100px;
}

.slide-container {
  border:#949495 solid 3px;
  background-color: #949495;
  /* width : 100%; */
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.slide-container:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.link-decoration{
  text-decoration: none;
}

.slide-container > img {
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.slide-container:hover > img {
  /* transform: scale(1.2); */
  opacity: 0.8;
}

.slide-tecnologies {
  background-color: #083359;
  border-bottom:#949495 solid 2px;
  padding-left: 20px;
  /* border-top-left-radius: 20px; */
  /* text-decoration: none; */
  /* opacity: 0.9; */

  background-image: linear-gradient(180deg, #000000 25%, #031226 75%, #083359 100%);
}

.slide-tecnologies > span {
  color: #949495;
  display: block;
  font-size: 18px;
  padding: 10px 0 10px 5px;
}

.slide-desc {
  background-color: #083359;
  /* width: 80%; */
  padding-left: 15px;
  background-image: linear-gradient(180deg, #083359 50%, #0a4b73 90%, #0c567e 100%);
}

.slide-desc > span {
  color: white;
  display: block;
  font-size: 25px;
  padding: 20px 0 20px 10px;
}




.BrainhubCarousel__arrows {
  background-color: #083359;
  opacity: 0.9;
  border-radius: 50%;
  margin: 20px;
}

.BrainhubCarousel__arrows > span {
  border-color: #949495;
}

.BrainhubCarousel__arrows:hover {
  background-color: #083359 !important;
}

.BrainhubCarousel__arrows:hover > span {
  border-color: #949495 !important;
}

@media only screen and (max-width: 960px) {
  .carousel-container {
    flex-direction: column;
  }

  .carousel-title {
    width: 100%;
    text-align: center;
    padding: 40px 0 30px 0;
  }

  .slide-container {
    width: 100%;
  }

  .slide-tecnologies {
    bottom: 69px;
    padding-left: 15px;
  }

  .slide-desc {
    padding-left: 10px;

  }

  .slide-desc > span {
    padding: 10px 0 10px 10px;
  }
}

.slide-buttons {
  display: flex;
  justify-content: space-around;
  margin: 2px 0 1px 0;
  background-image: linear-gradient(180deg, #0a4b73 50%, #0c567e 100%);

}


/* botones + animation */
.original-button {
  margin: 10px 0 15px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #949495;
  font-size: 18px;
  border-radius: 20px;
  width: 170px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid #083359;
  transition: 0.3s;
  background-color: #031226;
}

.original-button:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}